{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div id="post_show_content" class="skinny_wrapper wrapper_padding">
		<header>
			<p class="date">Hello, world.</p>
			<h1>I'm Kid, Pampa Kid.</h1>
			<hr>
		</header>

		<div id="content" class="manifesto">
			<p>I mumble and struggle to put my thoughts into words<br>
         Maybe it's my fault, maybe that's all I got<br>
         I believe in change because life is a game<br>
         Like Alexander the Great, I'm here to create<br>
         Wait, I'm putting pressure, on myself<br>
         I want to be a hero and leave the world a better place</p>
		</div>

		<hr>

	</div>
{% endblock content %}
